# cribbed from...
# https://github.com/Agoric/agoric-sdk/blob/master/packages/pegasus/demo.md

# but hermes requires a different arrangement now, so I also used...
# https://github.com/informalsystems/ibc-rs/blob/master/config.toml
[global]
# strategy = 'all'
log_level = 'trace'

[mode.clients]
enabled = true
refresh = true

[mode.connections]
enabled = true

[mode.channels]
enabled = true

[mode.packets]
enabled = true
clear_interval = 100
filter = false

[telemetry]
enabled = false
host = '127.0.0.1'
port = 3001

[[chains]]                                                               
# see also https://devnet.agoric.net/network-config
id = 'agoricdev-6'
rpc_addr = 'http://46.101.220.43:26657'
grpc_addr = 'http://46.101.220.43:9090'
websocket_addr = 'ws://46.101.220.43:26657/websocket'
rpc_timeout = '10s'
account_prefix = 'agoric'
key_name = 'agdevkey'
store_prefix = 'ibc'
max_gas = 3000000
gas_price = { price = 0.001, denom = 'urun' }
gas_adjustment = 0.1
clock_drift = '5s'
trusting_period = '14days'                                               

[chains.trust_threshold]
numerator = '1'
denominator = '3'

[[chains]]                                                               
id = 'cosmoshub-testnet'
rpc_addr = 'https://rpc.testnet.cosmos.network:443'
grpc_addr = 'https://grpc.testnet.cosmos.network:443'
websocket_addr = 'wss://rpc.testnet.cosmos.network:443/websocket'
rpc_timeout = '10s'
account_prefix = 'cosmos'
key_name = 'hubkey'
store_prefix = 'ibc'
max_gas = 3000000
gas_price = { price = 0.001, denom = 'uphoton' }
gas_adjustment = 0.1
clock_drift = '5s'
trusting_period = '14days'                                               

[chains.trust_threshold]
numerator = '1'
denominator = '3'
